el-world-8.font-align-both {
  text-align: justify;
  text-align-last: justify;
}

//修改布局容器样式
.el-container {
  height: calc(100vh - 40px);
}

.el-header {
  height: 40px !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.el-aside {
  z-index: 1000;
  height: calc(100vh - 40px); //ie必须定高度
  background-color: #ffffff;
}

.el-main {
  padding: 0px !important;
  height: calc(100vh - 40px); //ie必须定高度,否则无故出现滚动条
}

.el-select {
  width: 100%;
}

//百分比均以最小宽度980px设置
//修改mini 表单间距
.el-form-item--mini.el-form-item {
  margin-bottom: 8px !important;
}

//必填时的间距
.required-item {
  .el-form-item--mini.el-form-item {
    margin-bottom: 16px !important;
  }
}

//表单label颜色
.el-form-item__label {
  color: #262626;
}

.el-form-item--mini .el-form-item__label {
  line-height: 32px !important;
}

.el-world-4.el-col-6 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 32%;
  }

  .el-form-item__content {
    width: 64%;
  }
}

.el-world-5.el-col-6 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 38%;
  }

  .el-form-item__content {
    width: 62%;
  }
}

.el-world-6.el-col-6 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 44%;
  }

  .el-form-item__content {
    width: 56%;
  }
}

//表单label必填红色字体
.el-world-color-red {
  .el-form-item__label {
    color: red;
  }
}

.el-world-color-blue {
  .el-form-item__label {
    color: #409EFF;
  }
}

.el-world-8.el-col-6 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 56%;
  }

  .el-form-item__content {
    width: 44%;
  }
}

.el-world-4.el-col-8 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 23%;
  }

  .el-form-item__content {
    width: 77%;
  }
}

.el-world-6.el-col-8 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 32%;
  }

  .el-form-item__content {
    width: 68%;
  }
}

.el-world-8.el-col-8 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 41%;
  }

  .el-form-item__content {
    width: 59%;
  }
}

.el-world-4.el-col-12 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item {
    float: right;
    width: 100%;
  }

  .el-form-item__label {
    width: 17.4%;
  }

  .el-form-item__content {
    width: 82.6%;
  }
}

.el-world-5.el-col-12 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 18.7%;
  }

  .el-form-item__content {
    width: 81.3%;
  }
}

.el-world-6.el-col-12 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 21.3%;
  }

  .el-form-item__content {
    width: 78.7%;
  }
}

.el-world-8.el-col-12 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 24.3%;
  }

  .el-form-item__content {
    width: 75.7%;
  }
}

.el-world-4.el-col-16 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 12.2%;
  }

  .el-form-item__content {
    width: 87.8%;
  }
}

.el-world-6.el-col-18 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 14.3%;
  }

  .el-form-item__content {
    width: 85.7%;
  }
}

.el-world-4.el-col-24 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 7.4%;
  }

  .el-form-item__content {
    width: 92.6%;
  }
}

.el-world-8.el-col-24 {
  .el-form-item {
    width: 100%;
  }

  .el-form-item__label {
    width: 12.1%;
  }

  .el-form-item__content {
    width: 87.9%;
  }
}

//时间选择框
.el-date-editor.el-input {
  width: 100%;
}

//修改mini输入框样式
.el-input--mini .el-input__inner {
  height: 25px;
}

.el-input__inner {
  border-radius: 2px;
}

//修改placeholder颜色
input::-webkit-input-placeholder {
  color: #BFBFBF !important;
}

//修改mini按钮样式
.el-button--mini {
  padding: 7px 10px !important;
}

//主要按钮样式
.el-button--primary {
  background-color: #007AFF;
  border-color: #007AFF;
}

//主要按钮hover
.el-button--primary:focus,
.el-button--primary:hover {
  background-color: #3395FF;
  border-color: #3395FF;
}

//主要按钮点击
.el-button--primary.is-active,
.el-button--primary:active {
  background-color: #006EE6;
  border-color: #006EE6;
}

//主要按钮的朴素样式
.el-button--primary.is-plain {
  color: #007AFF;
  background: transparent;
  border-color: #007AFF;
}

//按钮间距
.el-button+.el-button {
  margin-left: 8px;
}

//按钮的圆角
.el-button--mini,
.el-button--small {
  border-radius: 2px;
}

//时间选择“至”
.el-date-editor .el-range-separator {
  padding: 0px !important;
}

//修改表格样式
.el-table .cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 100%;
  }
}

//线框表格
.el-table--border,
.el-table--group {
  border: 1px solid #BFDEFF;
}

.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: 1px solid #BFDEFF;
  border-bottom: 1px solid #BFDEFF;
}

//斑马纹样式
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #F0F7FF;
}

//.el-table .cell, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
//  padding-left: 19px;
//}

//一般的点击当前行
.el-table__body tr.current-row>td {
  background-color: transparent;
}

//hover到表格样式
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background: #B2D7FF;
  cursor: pointer;
}

//hover到表格样式
.el-table__body tr.hover-row.el-table__row--striped.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped>td,
.el-table__body tr.hover-row>td {
  background-color: #B2D7FF
}

.el-table td,
.el-table th {
  padding: 4px 0;
}



//小型表格一般用于表格内嵌表格
.table-height-small {

  .el-table td,
  .el-table th {
    padding: 2px 0 !important;
  }
}

//单元格左边距
.el-table th>.cell {
  padding-left: 16px !important;
}

.el-table .cell,
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
  padding-left: 16px;
}

//高度38px下 排序按钮样式
.el-table .caret-wrapper {
  height: 20px !important;
}

.el-table .sort-caret.ascending {
  top: -1px !important;
}

.el-table .sort-caret.descending {
  bottom: -1px !important;
}

.table-height-current {

  //表格选中高亮行颜色
  .el-table__body tr.current-row>td {
    background-color: #8CC3FF !important;
    color: white;

    //pointer-events: none;
    //选中的操作栏字体样式
    .active-main {
      color: white;
    }
  }

  .el-table--striped .el-table__body tr.el-table__row--striped.current-row td {
    background-color: #8CC3FF !important;
    color: white;

    //pointer-events: none;
    //选中的操作栏字体样式
    .active-main {
      color: white;
    }
  }

}

.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #BFDEFF;
}

//表格分页器
//带背景的分页
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  min-width: 24px;
}

.el-pager li {
  height: 24px;
  line-height: 24px;
}

.el-pagination__editor.el-input .el-input__inner {
  height: 24px;
}

.el-pagination button,
.el-pagination span:not([class*=suffix]) {
  height: 24px;
  line-height: 24px;
}

//带背景分页选中样式
.el-pagination.is-background .el-pager li:not(.disabled).active {
  border: none;
}

//分页的跳转控件
.el-pagination__jump {
  margin-left: 0px;
}

//分页下来选页码
.el-pagination__sizes .el-input .el-input__inner {
  height: 24px;
}

//修改左菜单自定义icon样式
.menu-iconfont {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
}

//tabs下边距
.el-tabs__header {
  margin: 0 0 8px;
}

//修改主页tabs 样式
.home-tabs {
  .el-tabs__item {
    height: 32px;
    line-height: 32px;
  }

  .el-tabs--card>.el-tabs__header {
    border-bottom: none !important;
  }

  .el-tabs--card>.el-tabs__header .el-tabs__item {
    border-bottom: none !important;
  }

  .el-tabs__header {
    margin: 0 !important;
  }

  .el-tabs--card>.el-tabs__header {
    border: none;
  }

  .el-tabs__item.is-active {
    background-color: #F0F7FF;
    color: #007AFF;
  }

  .el-tabs--card>.el-tabs__header .el-tabs__nav {
    border-top: none !important;
    border-bottom: none !important;
  }

  .el-tabs--card>.el-tabs__header .el-tabs__item .el-icon-close {
    color: #000000;
    right: -8px;
  }

  //出滚动后滑动箭头
  .el-tabs__nav-next,
  .el-tabs__nav-prev {
    line-height: 30px;
  }

}

//梯形tabs 样式
.trapezoid-tabs {
  .el-tabs--card>.el-tabs__header {
    border-bottom: 1px solid #E4E7ED !important;
  }

  .el-tabs--card>.el-tabs__header .el-tabs__item {
    line-height: 48px;
    color: rgb(25, 41, 63);
    border: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      border: 1px solid #dcdfe6;
      background-color: rgb(243, 243, 243);
      transform: -webkit-perspective(0.5em), rotateX(2deg);
      transform: perspective(0.5em) rotateX(2deg);
      transform-origin: bottom;
    }
  }

  .el-tabs__header {
    margin: 0;
  }

  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    &:after {
      background-color: #007AFF;
    }

    color: white;
  }

  .el-tabs--card>.el-tabs__header .el-tabs__nav {
    border: none;
  }

}

//border-card
.border-card {
  border-radius: 5px;
  border: 1px solid #e4e7ed;

  /deep/ .el-tabs__content {
    display: none;
  }

  .el-tabs--border-card {
    box-shadow: none;
    border: none;
  }

  .el-tabs__item {
    height: 32px;
    line-height: 32px;
  }

  .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #fFF;
    background-color: #007AFF;
    border-right-color: #007AFF;
    border-left-color: #007AFF;
  }

  .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active:hover {
    color: #FFF;
  }
}

.normal-tabs {
  .el-tabs__item {
    height: 46px;
    line-height: 46px;
  }

  .el-tabs__item:hover {
    color: #007AFF;
  }

  .el-tabs__item.is-active {
    color: #007AFF;
  }

  .el-tabs__active-bar {
    background-color: #007AFF;
  }
}

//圆角tabs
.radius-tabs {
  .el-tabs__item {
    margin-left: 2px;
    background-color: #f5f5f5;
    border-radius: 4px 4px 0 0;

    &:first-child {
      margin-left: 0;
    }
  }

  .el-tabs--card>.el-tabs__header .el-tabs__nav {
    border: none;
  }

  .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
  .el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
  .el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
  .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
    padding-left: 20px;
  }

  .el-tabs--bottom .el-tabs__item.is-bottom:last-child,
  .el-tabs--bottom .el-tabs__item.is-top:last-child,
  .el-tabs--top .el-tabs__item.is-bottom:last-child,
  .el-tabs--top .el-tabs__item.is-top:last-child {
    padding-right: 20px;
  }

  .el-tabs__item:hover {
    color: #007AFF;
    //第一个tabs
  }

  .el-tabs__item.is-active {
    color: #007AFF;
    background: #FFFFFF;
    border: 1px solid #007AFF;
    border-bottom: none;
    height: 41px;
  }

  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-left: 1px solid #007AFF;
  }

  .el-tabs__active-bar {
    height: 0;
  }

  .el-tabs--card>.el-tabs__header {
    border-bottom: 1px solid #d9d9d9;
  }
}

//修改左菜单样式
.el-menu-item.is-active {
  background-color: #E0EFFF !important;
  color: #007AFF !important;
}

.el-menu-item,
.el-submenu__title {
  height: 40px;
  line-height: 40px;
}

.el-submenu .el-menu-item {
  height: 40px;
  line-height: 40px;
}

//修改dialog样式
.el-dialog__header {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 8px 24px 7px;
  background-color: #ffffff;

  .el-dialog__title {
    color: #007AFF;
    font-weight: 500;
    font-size: 16px;
  }

  .el-dialog__headerbtn {
    top: 13px;
  }

  .el-dialog__headerbtn .el-dialog__close {
    background-color: white;
    color: #D9D9D9;
  }
}

.el-dialog {
  margin-top: 10vh !important;
}

.el-dialog__body {
  height: 600px;
  padding: 24px;
  overflow: scroll;
}

.el-dialog__footer {
  padding: 0px 24px 16px;
}

//修改垂直分割线
.el-divider--horizontal {
  margin: 10px 0 !important;
}

//修改check-box 颜色
.el-checkbox__inner {
  border-color: #879bba;
}

//修改禁用check-box 颜色
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
  border-color: #d9d9d9;
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background-color: #f2f2f2;
  border-color: #d9d9d9;
}

//修改树形样式
//树形hover
.el-tree-node__content:hover {
  background: #D6EAFF;
}

//树形选中样式
.el-tree-node:focus>.el-tree-node__content {
  background: transparent;
  color: #007AFF;
}

//修改选中树样式
.select-tree-bg-blue {
  .el-tree {
    background-color: transparent;

    /deep/ .el-tree-node__expand-icon.expanded {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    /deep/ .el-tree-node__expand-icon {
      font-size: 15px;
    }

    /deep/ .is-disabled {
      display: none;
    }

    /deep/ .el-tree-node.is-current>.el-tree-node__content {
      background-color: #2F8DFB !important;
      color: white;
    }
  }
}

//修改下拉框样式
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #D6EAFF;
}

//下拉框选中
.el-select-dropdown__item.selected {
  background-color: #A6D1FF;
  color: #595959;
}

//多选hover
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover {
  background-color: #D6EAFF;
}

//下拉框多选
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  background-color: #A6D1FF;
  color: #595959;
}

//修改input框样式
.el-input__inner {
  border: 1px solid #d9d9d9;
  padding: 0 8px;
}

//输入框hover
.el-input__inner:hover {
  border-color: #bfdeff;
}

//输入框禁用
.el-input.is-disabled .el-input__inner {
  background-color: #F5F5F5;
  border-color: #d9d9d9;
  color: #8c8c8c;
}

//下拉框样式
.el-select:hover .el-input__inner {
  border-color: #bfdeff;
}

//表单输入框的必填
.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
  margin-right: 2px;
}

//时间控件
.el-date-table td.today span {
  border: 1px solid #007AFF;
  ;
  border-radius: 0;
}

//选中的日期控件
.el-date-table td.current:not(.disabled) span {
  border-radius: 0;
}

//moth选项
.el-month-table td.today .cell {
  width: 37px;
  height: 25px;
  border-radius: 0;
}

//选中的month
.el-month-table td.current:not(.disabled) .cell {
  background: #007AFF;
  color: #FFFFFF;
}

//修改单选框样式
.el-radio {
  margin-right: 24px;
}

//单选框样式
.el-radio__inner {
  width: 16px;
  height: 16px;
}

//单选悬浮
.el-radio__inner:hover {
  border: 1px solid #007AFF;
}

//单选选中
.el-radio__input.is-checked .el-radio__inner {
  border-color: #007AFF;
  background: transparent;
}

//选中的内环样式
.el-radio__inner::after {
  width: 8px;
  height: 8px;
  background-color: #007AFF;
}

//选中label
.el-radio__input.is-checked+.el-radio__label {
  color: #007AFF;
}

.el-radio__label {
  padding-left: 8px;
}

//复选框样式修改
.el-checkbox {
  margin-right: 24px;
}

.el-checkbox__inner {
  width: 16px;
  height: 16px;
}

.el-checkbox__inner:hover {
  border-color: #007AFF;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #007AFF;
  border-color: #007AFF;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #007AFF;
}

.el-checkbox__label {
  padding-left: 8px;
}

//按钮复选框
.el-checkbox-button__inner {
  padding: 12px 16px;
}

.el-checkbox__inner::after {
  left: 6px;
}

//switch开关
.el-switch__core {
  width: 44px !important;
  height: 22px;
}

.el-switch.is-checked .el-switch__core {
  background-color: #007AFF;
  border-color: #007AFF;
}

.el-switch__core:after {
  top: 2px;
}

.upload-demo {
  .upload-icon {
    margin: 20px 0 0 0;
  }

  .el-upload__text {
    margin-top: 10px;
    color: #595959;
    font-weight: 400;
  }

  .upload__tips {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #BFBFBF;
  }
}

.el-upload--picture-card {
  width: 223px;
  height: 120px;
  background-color: #D9D9D9;
  line-height: 0;
}

.el-upload-list--picture-card .el-upload-list__item {
  width: 223px;
  height: 120px;
}

//操作提示框样式
.el-popconfirm__action {
  margin-top: 10px;
}