.title {
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #D6DEED;
  .tag {
    display: inline-block;
    width: 6px;
    border-radius: 2px;
    height: 18px;
    vertical-align: middle;
    background-color: #409EFF;
  }
}
.xing-after {
	/deep/ .el-input {
		&:after {
			position: absolute;
			top: 0;
			right: -10px;
			content: '*' ;
			color: red;
		}
	}
    /deep/ .el-textarea {
        &:after {
          position: absolute;
          top: 0;
          right: -10px;
          content: '*' ;
          color: red;
        }
    }
}
.xing {
	margin: 0 5px;
	color: red;
}

.row-list {
  display: flex;
  border-top: 1px solid rgb(227, 232, 241);
  .col-item {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(227, 232, 241);
    padding: 5px;
    min-height: 32px;
    align-items: flex-end;
    &:nth-of-type(2n) {
      align-items: flex-start;
    }
    .cell {
      flex: 1;
      display: flex;
      align-items: center;
    }
    &:last-child {
      border-right: 1px solid rgb(227, 232, 241);
    }
  }
  &:last-child {
    border-bottom: 1px solid rgb(227, 232, 241);
  }
}



//部分pdf打印样式

.pdf {
  .el-form-item--mini.el-form-item {
    margin-bottom: 0px !important;
  }

  .r-list {
    display: flex;
    border-top: 1px solid rgb(227, 232, 241);
    .c-item {
      display: flex;
      flex-direction: column;
      border-left: 1px solid rgb(227, 232, 241);
      min-height: 32px;
      justify-content: center;
      &:nth-of-type(2n) {
      }
      .cell {
        flex: 1;
        display: flex;
        align-items: center;
      }
      &:last-child {
        border-right: 1px solid rgb(227, 232, 241);
      }
    }
    &:last-child {
      border-bottom: 1px solid rgb(227, 232, 241);
    }
  }

}

